@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Didact+Gothic&family=IBM+Plex+Sans:wght@300;500&family=Koulen&family=Righteous&display=swap');

:root {
  --blue: blue;
  --back-color: linear-gradient(rgb(40, 26, 167) 0%, rgb(66, 174, 236) 60%);
  --back-color-2: rgb(217, 249, 239);
  --border: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
body {
  background-color: var(--back-color-2);
  padding: 1% 2% 1% 2%;
}

header {
  position: relative;
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  align-items: center;
  justify-content: space-between;
  font-family: 'Roboto', sans-serif;
  background-image: var(--back-color);
  border: 1px solid var(--blue);
  border-radius: 30px;
  color: white;

  padding: 0 5% 0 5%;
}

.topright #illustrationA {
  width: 20vw;
}

header > .topleft > h1 {
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
}

header > .topleft > p {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 1.7em;
}

.topleft span {
  font-weight: bold;
  font-size: 1.1em;
}

/* --------------Header Completed -----------------------------------*/

.mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: space-between;
  padding: 2% 0.5% 1% 0.5%;
}

section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 55vw;
}

.resume {
  position: relative;
  background-color: rgb(255, 230, 234);
  width: 100%;
  margin-left: 1%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  border-radius: 30px;
  font-weight: bold;
  padding: 1% 2% 5% 2%;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.resume .play {
  background-color: black;
  margin-right: 3%;
  border-radius: 50%;
  border: 5px solid rgb(161, 0, 0);
}

.middle {
  font-family: 'Roboto', sans-serif;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 0.5%;
}
.middle h2 {
  margin: 0;
}

.middle a {
  font-size: 1em;
  text-decoration: none;
  color: rgb(185, 44, 67);
}

#icon {
  font-size: 2em;
}

/*... ..............................Resume ends here.................................................. */
.leatherboard {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding: 10% 2% 0 1%;
  border-radius: 30px;
  align-items: center;
  margin-top: 3%;
}

.ltop {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.ltop h1 {
  margin-left: 5%;
  font-size: 2em;
}

.ltop span {
  margin-right: 5%;
  font-weight: bold;
  cursor: pointer;
}

.smileybox {
  display: flex;
  flex-direction: row;
  font-size: 2em;
  justify-content: space-between;
  align-items: space-between;
  position: relative;
  width: 85%;
  border-bottom: 1px solid grey;
  padding: 1% 5% 5% 5%;
}

.crRank {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.crRank span {
  font-weight: bold;
  font-family: 'Righteous', cursive;
  font-size: 1.5em;
  background-image: var(--back-color);
  background-clip: text;
  margin: 0;
  padding: 0;
  color: transparent;
}

.ranktext {
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
  font-size: 0.8em;
  color: rgb(68, 68, 68);
}
.crRank span sup {
  font-size: 0.5em;
  margin: 0;
  padding: 0;
}

.smileybox img {
  width: 15%;
}

.lower div {
  display: block;
  font-size: 1.2em;
  position: relative;
  width: 100%;
}

.gr {
  padding-top: 10%;
  padding-bottom: 5%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}
.rd {
  padding-top: 5%;
  padding-bottom: 10%;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: bold;
}

.gr span {
  color: rgb(1, 156, 1);
  font-size: 1.7em;
}

.rd span {
  color: rgb(255, 38, 31);
  font-size: 1.7em;
}

aside {
  position: relative;
  width: 36vw;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  /* border:2px solid black; */
}

.backlogs {
  border-radius: 30px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.btop {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 18px;
  width: 100%;
  margin-bottom: 3%;
}

.btop a {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  color: var(--blue);
  font-size: 1.1em;
  margin-right: -17%;
}
.btop h1 {
  margin-left: -20%;
}

.bbottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.b {
  background-color: var(--back-color-2);
  /* box-shadow: var(--border); */
  text-align: center;
  margin: 0 13% 13% 13%;
  padding: 5%;
  letter-spacing: 2px;
  border-radius: 30px;
  font-size: 1.5em;
}

.b > * {
  margin: 0;
  line-height: 2em;
}

.b span {
  color: rgb(68, 68, 68);
  font-weight: bold;
  font-family: 'IBM Plex Sans', sans-serif;
}

.diagnostic {
  margin-top: 5%;
  border: 2px solid black;
  background-color: white;
  position: relative;
  display: flex;
  width: 97%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid blue;
  border-radius: 30px;
}
.diagnostic button {
  width: 80%;
  background-image: var(--back-color);
  border-radius: 30px;
  padding: 3% 7%;
  margin: 1.5%;
  font-size: 1.5rem;
  font-weight: 900;
  color: #fff;
}
/* .diagnostic::before{
  content: "";
  width: 30%;
  height: 10%;
  position: absolute;
  top: 0;
  right: 10%;
  background-image:linear-gradient(to right bottom,rgb(0, 0, 255),rgb(0, 0, 122));
  clip-path:polygon(0 0,100% 0,0% 50%,100% 80%);
    
   z-index: 5;
} */

.diagnostic img {
  position: relative;
  width: 70%;
  margin-bottom: 0.5%;
  aspect-ratio: 2/1.3;
  image-rendering: optimizeQuality;
  background-size: cover;
  background-position: center;
}

.qd {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1%;
  padding: 1%;
  text-align: center;
}
.qd > * {
  font-size: 1.5rem;
  margin: 0 30%;
}

footer {
  margin-top: 2%;
  position: relative;
  width: auto;
  padding: 1%;
  padding-bottom: 1.5%;
  border-radius: 30px;
  background-color: white;
}

.ltop a {
  font-size: 1.2em;
  margin-right: 5%;
  text-decoration: none;
  font-weight: bold;
}

.ftask {
  padding-bottom: 1%;
}

.fmain {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fmain div {
  position: relative;
  background-color: rgb(255, 230, 234);
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  font-weight: bold;
  margin: 1% 2% 1% 2%;
  padding: 1% 0 1% 0;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.fmain div img {
  background-color: blue;
  padding: 3%;
  aspect-ratio: 1/1.2;
  border: 10px solid blue;
  border-radius: 100%;
  margin: 0 2% 0 5%;
}

.fmain div .middle {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  background-color: rgb(255, 230, 234);
}

.fmain div .middle > * {
  margin: 1% 5% 1% 5%;
}

/* Four tabs section */

.fmain .mtt {
  position: relative;
  background-color: var(--back-color-2);
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  font-weight: bold;
  margin: 1% 2% 1% 2%;
  padding: 1% 0 1% 0;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.fmain .mtt .middle {
  background-color: var(--back-color-2);
}
/* why liberate tab  */

.fmain .wlt img {
  background-color: rgb(233, 41, 98);
  padding: 3%;
  border: 10px solid rgb(233, 41, 98);
  border-radius: 100%;
  margin: 0 2% 0 5%;
}

/* Weekly quiz tab */
.fmain .wlt {
  position: relative;
  background-color: rgb(255, 222, 227);
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  font-weight: bold;
  margin: 1% 2% 1% 2%;
  padding: 1% 0 1% 0;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.fmain .wlt .middle {
  background-color: rgb(255, 222, 227);
}

.fmain .ppt {
  position: relative;
  background-color: var(--back-color-2);
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 30px;
  font-weight: bold;
  margin: 1% 2% 1% 2%;
  padding: 1% 0 1% 0;
  font-family: 'Encode Sans Condensed', sans-serif;
}

.fmain .ppt img {
  background-color: green;
  border-color: green;
}

.fmain .ppt .middle {
  background-color: var(--back-color-2);
}

.fmain .wqt img {
  background-color: rgb(255, 102, 0);
  border-color: rgb(255, 102, 0);
}
@media (max-width: 1715px) {
  body {
    background-color: red;
  }
  .b {
    font-size: 1.2rem;
  }
}
@media (max-width: 1430px) {
  body {
    background-color: red;
  }
  .b {
    font-size: 1.2rem;
    margin: 0 5% 13% 5%;
  }
}
@media (max-width: 1240px) {
  body {
    padding: 0;
  }
  .mid {
    flex-direction: column;
  }
  .mid > * {
    width: 100%;
    margin: 10px 0;
  }
  .b {
    font-size: 1rem;
  }
  footer {
    padding: 0;
    width: 100%;
  }
  .fmain {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 -60% 0 -60%;
    padding-bottom: 10%;
  }
  main {
    padding: 0;
  }
}
